.sidebarMain{
    height: 100%;
}

.container:hover{
    background-color: #404249;
    color: #1e1f22;
}

.sidebarFriends:hover{
    background-color: #404249;
    color: #1e1f22;
}

.sidebarShop:hover{
    background-color: #404249;
    color: #1e1f22;
}

.sidebarFooter:hover{
    background-color: #404249;
    color: #1e1f22;
}

 .microphone:hover{
    background-color: #404249;
    color: #1e1f22;
}

.headphones:hover{
    background-color: #404249;
    color: #1e1f22;
}

.settingIcon:hover{
    background-color: #404249;
    color: #1e1f22;
}

.directMessages:hover{
    background-color: #404249;
    color: #1e1f22;
}

.container{
    display: flex;
    gap: 30px;
    width: 208px;
    justify-content: space-between;
    color: #b5bac1;
 }

.sidebarInput > input {
    width: 200px;
}

.directMessages{
    display: flex;
    gap: 47px;
    padding: 5px;
    color: #b5bac1;

}

.sidebarInput{
    padding: 5px;
    color:#b5bac1;
}

.sidebarInput > input {
    height: 25px;
    border: none;
    color: #313338;
}

.sidebarFriends{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #b5bac1;
}

.sidebarShop{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #b5bac1;
}

.sidebarFriends > svg {
    width: 25px;
    height: 25px;

}

.sidebarFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 45px;
    background-color: #232428;
    width: 225px;
    align-items: center;
    justify-content: space-between;
    color: #b5bac1;
}

.discordIcon{
    width: 40px;
    height: 40px;
    color: pink;
    border-radius: 50%;
}

.userIcon{
    width: 30px;
    height: 30px;
}

.addButton{
    color: #b5bac1;
    border: none;
    background-color: #313338;
}

.buttonDelete{
    color: #b5bac1;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #313338;
}

.microphone{
    width: 20px;
    height: 20px;
    color: #b5bac1;
}

.micOff{
    width: 20px;
    height: 20px;
    color: #b5bac1;
}

.headphones{
    width: 20px;
    height: 20px; 
    color: #b5bac1;
}

.headphonesOff{
    width: 20px;
    height: 20px; 
    color: #b5bac1;
}

.settingIcon{
    width: 20px;
    height: 20px;
    color: #b5bac1;
}

.iosetting > button{
   border: none;
   background-color: #232428;
}

.iomicrophone > button{
    border: none;
    background-color: #232428;
}

.ioheadphone > button {
    border: none;
    background-color: #232428;
}

.userItem{
    width: 225px;
}

































