.backgroundColorPersonal {
  width: 500px;
  height: 100px;
  margin-bottom: 10px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 50px;
  position: relative;
  bottom: 50px;
  border: 5px solid ;
}
.inforMain{
    margin-top: 20px;
  border-radius: 15px;
   background-color: aliceblue; 
   color: black;
}
.name {
   
    text-align: left;
    border-bottom: 2px solid black;

}
.about-me {
    padding-left: 15px;
    text-align: left;
     border-bottom: 2px solid black;
}
.note{
    padding-left: 15px;
text-align: left;
}

